body{
	background: #eee;
}
form{
	margin-left: 25vw;
	margin-top: 100px;
}
textarea{
	resize: none;
	width: 50vw;
	display: block;
	height: 100px;
	font-size: 1.5em;
}
.submit{
	padding: 5px;
	border-radius: 5px;
	border: 2px solid #e74c3c;
	color: white;
	font-size: 1.5em;
	background: #e74c3c;
	position: relative;
	left: 40vw;
}
.statuses{
	border: solid 2px black;
	border-left: 1px;
	border-right: 1px;
	background: white;
	width: 70vw;
	position: relative;
	top: 5vh;
    margin-bottom: 8%;
	left: 12vw;
    min-height: 45vw;
}
.status-title{
	text-align: center;
	text-decoration: underline;
}
.statusText{
    font-size: 1em;
}
.updateButton{
    background-color: transparent;
    border: transparent;
    text-decoration: underline;
    color: steelblue;
    font-family: 'Times New Roman', Times, serif;
}
.updateButton:hover{
    color: olivedrab;
    cursor: pointer;
}
.deleteButton{
    background-color: transparent;
    border: transparent;
    text-decoration: underline;
    color: tomato;
    font-family: 'Times New Roman', Times, serif;
}
.deleteButton:hover{
    color: olivedrab;
    cursor: pointer;
}